<?xml version="1.0" encoding="UTF-8" ?>
<protocol name="system" version="1.0.0">

    <!-- TODO: добавить рефененсы на типы других протоколов -->
    <!-- TODO: bit vector type -->
    <!-- Builtin group -->
    <group name="builtin" access="Public">
        <message kind="0" name="PluginAppeared">
            <field name="plugin_id" type="u8" />
        </message>

        <message kind="1" name="PluginDisappeared">
            <field name="plugin_id" type="u8" />
        </message>

        <message kind="2" name="ProtocolDeclared">
            <field name="version" type="u32" />
            <field name="plugin_id" type="u8" />
            <field name="group_id" type="u8" />
        </message>

        <message kind="3" name="ProtocolUndeclared">
            <field name="plugin_id" type="u8" />
            <field name="group_id" type="u8" />
        </message>

        <message kind="4" name="ProtocolRedeclared">
            <field name="version" type="u32" />
            <field name="plugin_id" type="u8" />
            <field name="group_id" type="u8" />
        </message>

        <message kind="5" name="StreamKeepAlive">
            <field name="stream_kind" type="u8" />
            <field name="stream_id" type="u8" />
        </message>

        <message kind="6" name="StreamCancel">
            <field name="stream_kind" type="u8" />
            <field name="stream_id" type="u8" />
        </message>

        <enum name="LogType" repr="u8">
            <variant name="Debug" value="0" />
            <variant name="Info" value="1" />
            <variant name="Warning" value="2" />
            <variant name="Error" value="3" />
        </enum>

        <stream kind="7" name="Log" timeout="4">
            <start>
                <field name="log_type" type="LogType" />
                <field name="length" type="u32" />
                <field name="data" type="[u8; 20]" />
            </start>
            <payload>
                <field name="data" type="[u8; 27]" />
            </payload>
            <end>
                <field name="data" type="[u8; 27]" />
            </end>
        </stream>

        <!--
        <stream kind="8" name="LogInfo" timeout="4">
            <start>
                <field name="length" type="u32" />
                <field name="data" type="[u8; 20]" />
            </start>
            <payload>
                <field name="data" type="[u8; 26]" />
            </payload>
            <end>
                <field name="data" type="[u8; 26]" />
            </end>
        </stream>

        <stream kind="9" name="LogWarning" timeout="4">
            <start>
                <field name="length" type="u32" />
                <field name="data" type="[u8; 20]" />
            </start>
            <payload>
                <field name="data" type="[u8; 26]" />
            </payload>
            <end>
                <field name="data" type="[u8; 26]" />
            </end>
        </stream>

        <stream kind="10" name="LogError" timeout="4">
            <start>
                <field name="length" type="u32" />
                <field name="data" type="[u8; 20]" />
            </start>
            <payload>
                <field name="data" type="[u8; 26]" />
            </payload>
            <end>
                <field name="data" type="[u8; 26]" />
            </end>
        </stream>


        <obsolete until="2.0" reason="Test" replaced_by="ProtocolRedeclared">
            <message kind="4" name="ProtocolRedeclaredOld">
                <field name="version" type="u32" />
                <field name="provider" type="u8" />
                <field name="group_id" type="u8" />
            </message>
        </obsolete>
        -->
    </group>

<!--
    <group name="lifecycle" access="Exclusive">
        <message name="on_reload" />
        <message name="on_stop" />
    </group>
    <group name="permissions" access="Exclusive">

    </group>
-->
</protocol>
